/*************************************************************
* Gems
**************************************************************/


/*************************************************************
* Vendors stylesheets
**************************************************************/


/*************************************************************
* Configurations
**************************************************************/
@import "config/tabler";


/*************************************************************
* Customizations
**************************************************************/
@import "customizations/table_bootstrap";
@import "customizations/input_search";
@import "customizations/form_bootstrap";
@import "customizations/devise";

/*************************************************************
* Apps stylesheets
**************************************************************/
