<div class='nested-fields'>
  <div class="row">
    <div class="col">
      <%= f.association :user, class: 'form-control custom-select', collection: @users %>
    </div>

    <div class="col">
      <%= f.input :function %>
    </div>

    <div class="col-2 pt-5 mt-1">
      <%= link_to_remove_association f, partial: 'document_users_fields', class: 'btn btn-secondary' do %>
        <i class="fe fe-trash-2"></i>
      <% end %>
    </div>
  </div>
</div>
