html, body {
  margin: 0;
}
body {
  background: #e0e0e0;
  font-family: 'Roboto'
}

p {
  .fe {
    text-align: right;
  }
}

.container {
  margin-left: 10% !important;
  margin-right: 10% !important;
}

.btn-new {
  border-radius: 50%;
}

