database: &database
  db.username: postgres
  db.password: postgres
  db.host: localhost

mailer: &mailer
  mailer.from: 'sge-tsi-gp@utfpr.edu.br'
  mailer.host: localhost
  mailer.host.port: '3000'
  mailer.smtp: 'smtp.mailtrap.io'
  mailer.smtp.port: '2525'
  mailer.smtp.domain: 'smtp.mailtrap.io'
  mailer.smtp.username: 'username'
  mailer.smtp.password: 'password'
  mailer.smtp.authentication: 'cram_md5'

development:
  <<: *database
  <<: *mailer

test:
  <<: *database
  <<: *mailer
  browser.headless: 'true'

production:
  <<: *database
  mailer.host: sge.gp.utfpr.edu.br
  mailer.port: '80'
