<div class='nested-fields'>
  <div class="row">

    <div class="col-6">
      <%= f.association :user, collection: @users %>
    </div>
    <div class="col-4">
      <%= f.input :function, class: 'col-6' %>
    </div>
    <div class="col-2 pt-5 mt-1">
      <%= link_to_remove_association f, partial: 'users_document_fields', class: 'btn btn-secondary' do %>
        <i class="fe fe-trash-2"></i>
      <% end %>
    </div>
  </div>
</div>


