page {
  background: white;
  display: block;
  margin: 0 auto;
  margin-bottom: 0.5cm;
  box-shadow: 0 0 0.5cm rgba(0,0,0,0.5);
}

page[size="A4"] {
  width: 210mm;
  height: 297mm;
}

.modal-lg {
  min-width: 90%
}