<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-12 col-lg-auto mt-3 mt-lg-0">
        Copyright © 2018 <a href=".">Tecnoligia em Sistemas para Internet - UTFPR-GP</a>. Todos direitos reservados.
      </div>
    </div>
  </div>
</footer>
