<div class="header py-4">
  <div class="container">
    <div class="d-flex">
      <%= link_to admin_root_path, class: 'header-brand' do %>
        <%= image_tag 'sge-logo.png', class: 'header-brand-img', alt: "Sistema Gerenciador de Eventos" %>
      <% end %>
      <a href="#" class="header-toggler d-lg-none ml-3 ml-lg-0" data-toggle="collapse" data-target="#headerMenuCollapse">
        <span class="header-toggler-icon"></span>
      </a>
    </div>
  </div>
</div>