<div class="left">
  <div class="item avatar bg-secondary">
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTqZAjknpF5QsPYopf68cGKaMVUP_L8SkM4cqM-VIlk0-CVRtAh" alt="" class="img-avatar">
    <div class="avatar-user">José</div>
    <div class="avatar-role">Admin</div>
  </div>
  <div class="item text-center">
    <i class="fe fe-home"></i>
    <%= link_to 'Home', admin_root_path%>
  </div>
  <div class="item text-center">
    <i class="fe fe-building"></i>
    <%= link_to 'Department', admin_departments_path%>
  </div>
  <div class="item text-center">
    <i class="fe fe-users"></i>
    persons
  </div>

</div>
